.dark body {
  background-image:
    radial-gradient(circle at top, rgba(255, 255, 255, 0.06), transparent 26%),
    linear-gradient(180deg, rgba(255, 255, 255, 0.015), transparent 18%);
}

body {
  background-image:
    radial-gradient(circle at top, rgba(255, 255, 255, 0.6), transparent 24%),
    linear-gradient(180deg, rgba(255, 255, 255, 0.3), transparent 12%);
  background-attachment: fixed;
}
